version: "3"
services:
  db:
    image: postgres:9.6
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: olx_pp1_db
    ports:
      - 5436:5432
    volumes:
      - ./postgres-data:/bitnami/postgresql/data
